$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "fontawesome/scss/font-awesome.scss";
// endbower
@import "theme.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color:#1f3244;
}

#title{
  font-size: 39px;
  color: $steelGrey;
  letter-spacing: 3px;
}

#chart {
  background-color: $lightSteelBlue;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#distraction-btn{
  position: absolute;
  top: 45px;
  left: 50px;
  width: 50px;
  border-radius: 0;
  outline: none;
  }

.activities-container {
  background-color: $lightSteelBlue;
  margin-top: 30px;
  padding-bottom:25px;
  padding-left:0;
  padding-right:0;
  height:500px;

  .created-activities-container{
    overflow:scroll;
    height:calc(100% - 70px);
  }
  h3{
    color:$steelGrey;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 20px;
  }
  .activity-row {
    position: relative;
    cursor: pointer;
    padding-bottom: 7px;
    min-height: 65px;
    &.input-row {
      min-height: 65px;
      padding-top: 10px;
      padding-bottom:20px;
      background-color:lighten($lightSteelBlue,10%);
      input{

        background-color: #E7E7EC;
        border-color: #B1B1B5;
        width:100%;
        &:focus {
        outline-color: #3B60B3;
      }
      }

    }
    &.selected {
      background-color: #51697F;
    }
    div {
      display: inline-block;
    }
    .activity-colour {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 15px;
      left: 15px;

      &.input-colour {
        width: 40px;
        height: 40px;
      }
    }

    .activity-name {
      margin-left: 75px;
      width:60%;
      input {
        margin-top: 10px;
        width: 90%;
        height: 30px;
      }
    }

    .activity-percentage {
      width: 50px;
      float: right;
      margin-right: 55px;
    }

    .button-div {
      margin-right: 20px;
      float: right;
      margin-top: 10px;
      .btn{
        padding: 4px 30px;
        outline: none;
      }
    }

  }
}
